<nz-layout>
  <nz-header class="tw-flex tw-justify-between">
    <div class="logo">Logo</div>
    <ul nz-menu [nzTheme]="'light'" nzMode="horizontal" class="tw-uppercase">
      <li nz-menu-item nzMatchRouter nzMatchRouterExact="true"><a routerLink="/dashboard">Dashboard</a></li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact="true"><a routerLink="/employees">Employees</a></li>
    </ul>
    <div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    <p class="tw-text-center">&copy; Kalim ul Haq. Github <a href="https://github.com/kalimulhaq" target="_blank">@Kalimulhaq</a></p>
  </nz-footer>
</nz-layout>
